.filter-container {
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border: 1px solid rgba(33, 63, 125, 0.1);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    position: absolute;
    top: 50px;
    left: 0;
    font-family: 'Work Sans', sans-serif;
    .filter-options {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: 500;
            color: #545f7d;
        }
        input,
        select {
            height: 42px;
        }
        input {
            margin-bottom: 20px;
            padding: 12px 20px;
            font-size: 14px;
            font-weight: 200;
            border-radius: 8px;
            border: 1px solid rgba(33, 63, 125, 0.2);
            outline: none;
            &::placeholder {
                color: rgba(84, 95, 125, 0.7);
            }
        }
        input[type="date"]::-webkit-input-placeholder {
            // color: rgba(84, 95, 125, 0.7);
            color: red;
        }

        select {
            padding: 12px 20px;
            outline: none;
            border-radius: 8px;
            border: 1px solid rgba(33, 63, 125, 0.2);
        }
    }

    .filter-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        margin-top: 30px;
        button {
            height: 40px;
            width: 98px;
            border-radius: 8px;
            font-weight: 600;
            font-size: 14px;
            font-family: 'Work Sans', sans-serif;
            background: transparent;
            &:nth-of-type(1) {
                border: 1px solid #545f7d;
                color: #545F7D;
            }
            &:nth-of-type(2) {
                background: #39cdcc;
                border: 1px solid #39cdcc;
                color: #fff;
            }
        }
    }
}
