.table-container {
    position: relative;
    box-sizing: border-box;
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        thead {
            tr {
                th {
                    padding-bottom: 30px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    color: #544f7d;
                    width: 20%;
                    padding-left: 8px;
                    padding-right: 8px;
                    text-align: justify;
                    img {
                        margin-left: 0.5rem;
                        cursor: pointer;
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba(33, 63, 125, 0.1);
                &:last-child {
                    border: none;
                }
                td {
                    font-size: 14px;
                    padding: 23px 0;
                    color: #544f7d;
                    width: 100px;
                    padding-left: 8px;
                    padding-right: 8px;
                    position: relative;
                    a {
                        color: #544f7d;
                        text-decoration: none;
                    }
                    &:nth-child(3) {
                        word-break: break-all;
                    }
                    .active {
                        font-size: 14px;
                        font-weight: 400;
                        color: #39cd62;
                        background: rgba(57, 205, 98, 0.06);
                        padding: 7px 14px;
                        border-radius: 100px;
                    }
                    .inactive {
                        font-size: 14px;
                        font-weight: 400;
                        color: #544f7d;
                        background: rgba(84, 79, 125, 0.06);
                        padding: 7px 14px;
                        border-radius: 100px;
                    }
                    .more-options{
                        cursor: pointer;
                        padding: 0 6px;
                    }
                    .options-list {
                        background: #fff;
                        position: absolute;
                        border: 1px solid rgba(84, 95, 125, 0.04);
                        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                        border-radius: 4px;
                        list-style: none;
                        width: 155px;
                        left: -5rem;
                        top: 2rem;
                        z-index: 1;
                        li{
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            font-size: 14px;
                            font-weight: 500;
                            color: #544f7d;
                            cursor: pointer;
                            padding: 10px 0;
                            padding-left: 15px;
                            
                            &:hover{
                                background: rgba(57, 205, 205, 0.1);
                            }
                        }
                    }
                }
            }
        }

        .no-results {
            margin-top: 20px;
        }
    }
}
